name: deploy

# on 是 Actions 的触发条件，这里的配置说明当 main 分支有提交的时候，根据这个配置文件执行
on:
  push:
    branches:
      - main # Set a branch to deploy
  workflow_dispatch: # 可以在 GitHub 项目仓库的 Action 工具栏进行手动调用

# jobs 是要执行的任务，我们看到他要执行 deploy
jobs:
  deploy:
    runs-on: ubuntu-latest # 运行环境
    steps: # 执行步骤

      # checkout 分支
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      # 安装 hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          # hugo-version: 'latest'
          hugo-version: '0.131.0' # 固定 hugo 版本，之后的版本会不兼容 hugo-code 主题。
          extended: true

      # 编译生成静态文件
      - name: Build
        run: hugo

      # 创建 CNAME，这个是原始配置中没有的，如果没有则创建并写入
      - uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "./public/CNAME"
          FILE_DATA: "blog.joeygao.com"

      # 将站点发布到对应仓库
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          PUBLISH_DIR: ./public
          EXTERNAL_REPOSITORY: gzhh/gzhh.github.io
          PUBLISH_BRANCH: main 
          commit_message: ${{ github.event.head_commit.message }}
